@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(6deg);
  }

  10% {
    transform: rotate(-6deg);
  }

  15% {
    transform: rotate(11deg);
  }

  20% {
    transform: rotate(-11deg);
  }

  25% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-14deg);
  }

  35% {
    transform: rotate(11deg);
  }

  40% {
    transform: rotate(-11deg);
  }

  45% {
    transform: rotate(6deg);
  }

  50% {
    transform: rotate(-6deg);
  }

  55% {
    transform: rotate(0deg);
  }
}

.wrapper {
  width: 100%;
  height: auto;
}

.hourglass {
  fill: hsl(var(--color-text));
}

.ring {
  animation: ring 1s infinite linear;
}

.sand {
  transition: transform 0.1s ease;
  fill: hsl(var(--color-secondary));
  transform-origin: center 7.25px;
}

.elapsed {
  transform-origin: center 14.75px;
}
