.button {
  display: block;
  border-radius: var(--border-radius);
  border: 3px solid transparent;
  padding: var(--space-m) var(--space-l);
  font-size: inherit;
  font-family: inherit;
  background-color: hsl(var(--color-primary));
  color: hsl(var(--color-bg));
  outline: none;
}

.button:focus {
  transition: border-color var(--transition-duration) ease-in;
  border-color: hsl(var(--color-text));
}

.button:disabled {
  transition: background-color var(--transition-duration) ease-in;
  background-color: hsl(var(--color-grey), 0.25);
  color: hsl(var(--color-text), 0.667);
}
