@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(6deg);
  }

  10% {
    transform: rotate(-6deg);
  }

  15% {
    transform: rotate(11deg);
  }

  20% {
    transform: rotate(-11deg);
  }

  25% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-14deg);
  }

  35% {
    transform: rotate(11deg);
  }

  40% {
    transform: rotate(-11deg);
  }

  45% {
    transform: rotate(6deg);
  }

  50% {
    transform: rotate(-6deg);
  }

  55% {
    transform: rotate(0deg);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hourglass {
  max-width: 80vw;
}

.ring {
  animation: var(--animation, ring 1s infinite linear);
}
