.wrapper {
  width: 100%;
  height: auto;
}

.hourglass {
  fill: hsl(var(--color-text));
}

.sand {
  transition: transform 0.1s ease;
  fill: hsl(var(--color-secondary));
  transform-origin: center 7.25px;
}

.elapsed {
  transform-origin: center 14.75px;
}
