:root {
  --color-text: 210, 30%, 11%;
  --color-bg: 206, 47%, 94%;
  --color-primary: 202, 66%, 35%;
  --color-secondary: 21, 14%, 44%;
  --color-secondary-light: 45, 41%, 84%;
  --color-grey: 202, 10%, 39%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: 206, 47%, 94%;
    --color-bg: 210, 30%, 11%;
    --color-primary: 202, 66%, 69%;
    --color-grey: 202, 10%, 75%;
  }
}
