.wrapper {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 3px solid transparent;
  padding: var(--space-s) var(--space-l);
  font-size: 2.5rem;
}

.enabled {
  position: relative;
  background-color: hsl(var(--color-primary));
  color: hsl(var(--color-bg));
}

.enabled:focus-within {
  transition: border-color var(--transition-duration) ease-in;
  border-color: hsl(var(--color-text));
}

.input {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.segment::after,
.tenths::before,
.disabled {
  opacity: 0.667;
}

.segment:not(:last-of-type)::after {
  content: ':';
}

.tenths::before {
  content: '.';
}

.disabled::before,
.disabled::after {
  opacity: 1;
}
