@import 'styles/theme.css';
@import 'styles/typography.css';

:root {
  --space-s: 0.25rem;
  --space-m: 0.75rem;
  --space-l: 1.25rem;

  --border-radius: 8px;
  --border-width: 3px;
  --transition-duration: 300ms;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --animation: noop;
  }
}

html,
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: hsl(var(--color-bg));
  font-family: var(--font-monospace);
  font-weight: 400;
  font-size: 1.25rem;
  color: hsl(var(--color-text));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

svg {
  display: inline-block;
  height: 1em;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

#app {
  height: 100%;
}

@media (min-width: 420px) {
  #app {
    margin: 0 auto;
    width: 420px;
  }
}
